langgraph
langchain-ollama
langchain-core
langchain
streamlit
langchain-groq
langchain-openai
langchain-google-genai
fastapi
uvicorn
python-dotenv
python-multipart
pymongo
motor
pydantic[email]
email-validator
pydantic-settings
redis
langchain-community
